extends layout

block content

	h2 Benson PDF Generator

	div.horizontal-form.well
		h4 Add Part Number
		input.span6(type="number", placeholder="Enter Part Number to be added")
		button.btn.btn-success.add_part(type="button") Add Part
		div
			button.btn.btn-large.btn-primary Generate All
		

	div.tabbable.tabs-left.hide
		ul.nav.nav-tabs
		div.tab-content
